* {
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    margin: 0;
    background-color: #f0fbff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0 20px;
    background-color: #2e94b9;
    border-bottom: 3px solid #f0fbff;
}

h1{
    color: white;
    font-size: 70px;
    text-align: center;
    margin-bottom: 0;
}

h2 {
    color: #2e94b9;
    text-align: center;
    font-size: 40px;
    margin-bottom: 0;
}

h3 {
    color: #475053;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}

p {
    color: white;
    font-size: 20px;
    margin: 0px 20px;
    padding: 20px;
    text-align: center;
}

li, a, button, dl, dt{
    font-weight: 500;
    font-size: 24px;
    list-style-type: none;
    text-decoration: none;
    color: #f0fbff;
}

/*Navbar*/
.links li{
    display: inline-block;
    padding-right: 0px 20px;
}

/*Navbar*/
.links li a:hover{
    color: #ffffff;
}

/*Buttons*/
button{
    padding: 9px 25px;
    background: rgb(46,148,185);
    background: linear-gradient(225deg, rgba(46,148,185,1) 25%, rgba(95,187,221,1) 150%);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 10px;
}

button:hover{
    color: white;
}

.buttonCenter{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 100px 20px;
}

.textContainer{
    margin: 50px 20px;
}

/*Main body*/
main{
    padding: 20px 0px 200px 0px;
    background-image: url("images/backgroundBody.jpg");
    background-size: cover;
    background-position-y: 60%;
}

/*
.list1 li{
    padding: 5px 0px;
    font-size: 20px;
    font-style: italic;
    margin-left: 100px;
    list-style-type: none;
}*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 40px;
    border: 3px solid white;
  }

.col3 ul{
    margin: 10px;
    border-radius: 40px;
}

.col3 ul, li{
    text-align: center;
    padding: 10px;
}

.main ul{
    margin-top: 20px 20px;
}

/*Images*/
.head img {
    max-width: 7%;
    max-height: 7%;
    cursor: pointer;
}

img{
    max-width: 60%;
    max-height: 60%; 
}

/*2 columns grid in the main section  */
.col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

/*
.col2 {
    padding:1rem;
}*/

/*3 column grid*/
.col3 {
    background: rgb(71,80,83);
    background: linear-gradient(351deg, rgba(71,80,83,1) 0%, rgba(46,148,185,1) 50%, rgba(172,220,238,1) 100%);
    background-color: #3d3f41;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 20px;
    padding: 40px;
    margin: 30px 30px;
}

/*Footer*/
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:  #3d3f41;
    background: rgb(71,80,83);
    background: linear-gradient(0deg, rgba(71,80,83,1) 42%, rgba(172,220,238,1) 350%);
    padding: 20px;
}

.footer ul{
    margin-top: 0;
    text-align: center;
    padding: 10px;
    list-style-type: none;
}

.infoList li{
    display: flex;
    flex-direction:row;
    padding: 0;
}

.icon{
    font-size: 50px;
    color: #f0fbff;
}

.icon:hover{
    color: white;
}

.list2{
    display: flex;
    justify-content: center;
}

.list2 li{
    padding: 0px 30px;
}

.test{
    text-align: right;
}

dd:hover{
    text-decoration: underline;
    cursor: pointer;
}